.portfolio_images img{
    width:100px;
    height:100px;
}
.figure{
    width:100px;
    height:100px; 
}

.menu{
    float:right;
    padding:10px;
}
li{
    display:inline-block;
    list-style-type:none;
    margin:10px 0;
    padding-right:10px;
}
p{
    margin:15px 5px;
}